.text-center
  .btn-group.btn-group-lg#openid-btn-grp
    - omniauth_configured.each do |provider|
      = link_to "user_#{provider}_omniauth_authorize".to_sym, class: "btn btn-success btn-lg",
                                                        id: "omniauth-#{provider}",
                                                        title: "Your Godot Engine login",
                                                        method: :post do
        %img{ src: "/img/godot-mono-dark.png", width: "40", height: "40", alt: "Godot Engine" }
